#criarAluno {
   width: 50rem;
   height: 55vh;
}

.formCadastraAluno{
    height: 80vh;
}

.modalContainer{
    display: flex;
    flex-direction: column;
}

.closeBtn{
    display: flex;
    justify-content: flex-end;
}
.submitBtn{
    display: flex;
    justify-content: center;
}

.btn.btn-secondary {
    width: 3rem;
    padding: 0px;
}

