#criarAluno {
   width: 50rem;
   height: 20rem;
}



.modalContainer{
    display: flex;
    flex-direction: column;
}

.closeBtn{
    display: flex;
    justify-content: flex-end;
}
.submitBtn{
    display: flex;
    justify-content: center;
}

.btn.btn-secondary {
    width: 3rem;
    padding: 0px;
}