<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Exercício</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Cadastro de Exercício</h2>
        <form id="formExercicio">
            <div class="mb-3">
                <label for="exercicio" class="form-label">Exercício</label>
                <input type="text" class="form-control" id="exercicio" name="exercicio" required>
            </div>
            <div class="mb-3">
                <label for="repeticao" class="form-label">Repetição</label>
                <input type="number" class="form-control" id="repeticao" name="repeticao" required>
            </div>
            <div class="mb-3">
                <label for="serie" class="form-label">Série</label>
                <input type="number" class="form-control" id="serie" name="serie" required>
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div class="mb-3">
                <label for="id_aluno" class="form-label">Aluno</label>
                <select class="form-select" id="id_aluno" name="id_aluno" required>
                    <option value="" disabled selected>Selecione o aluno</option>
                    <option value="1">João</option>
                    <option value="2">Maria</option>
                    <!-- Outras opções de alunos aqui -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Exercício</button>
        </form>
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script src="../static/js/exercicio.js"></script>
</html>